
.container1 {
    display: flex;
    align-items: center;
}

#Main{ margin-top: 0px;
    text-align: center;
    position: relative;
    top: 0px;
bottom: 500px;
height: 60px;

}
#N{
margin-top: 0px;
padding-left: 20px;
}
#MU{
    color: white;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.container2{
    text-align: center;
}

.img2{
     position: relative;
     left: 750px;
     width: 150px;
     border-style:double;
     border-color: black;
     border-width: 2px;

}
body {
    font-family:Arial, Helvetica, sans-serif
}

div{
top: 0px;
}
#navbar{ 
padding-top: 10px ;
height: 70px;
background-color:rgb(26, 81, 114);
}

#navy{
margin-top: 0px;
position: relative;
top: 0px;
bottom: 500px;
left: 230px;
right: 200px;
}
#cc{
text-align: center;
}
#insta{
text-align: center;
}
#my{
text-align: center;
}